# Pandas

In [ ]:
import numpy as np
import pandas as pd

## Series

In [ ]:
#Has explicit index and can accomodate strings as index as well

### Creating Series using:

1. List

In [ ]:
characters = ['A','B','C','D']
numbers = [23,56,78,34]

In [ ]:
series1 = pd.Series(data=numbers)
print(series1)

In [ ]:
series2 = pd.Series(data=numbers, index=characters)
print(series2)

In [ ]:
series2 = pd.Series(numbers, characters)
print(series2)

2. Using Numpy Array

In [ ]:
arr = np.array(numbers)
print(arr)

In [ ]:
arrseries1 = pd.Series(arr)
print(arrseries1)

In [ ]:
arrseries2 = pd.Series(arr, characters)
print(arrseries2)

3. Using Dictionary

In [ ]:
dict1 = {'A':23,'B':56,'C':78,'D':34}

In [ ]:
dictseries1 = pd.Series(dict1)
print(dictseries1)

In [ ]:
characters1 = ['A','B','D']
numbers1 = [23,56,34]
characters2 = ['A','B','C']
numbers2 = [23,56,78]

In [ ]:
series1 = pd.Series(numbers1, characters1)
print(series1)
series2 = pd.Series(numbers2, characters2)
print(series2)

In [ ]:
print(series1+series2)

## Dataframe

### Creation

In [ ]:
matrix = [[0,1,2,3],[4,5,6,7],[8,9,10,11],[12,13,14,15]]
df = pd.DataFrame(matrix, index=['r1','r2','r3','r4'], 
                  columns=['c1','c2','c3','c4'])

In [ ]:
print(df['c1'])

In [ ]:
print(type(df['c1']))

In [ ]:
csvdf = pd.read_csv('D://sample.csv')
csvdf = pd.read_csv('D:\sample.csv')
csvdf

In [ ]:
print(df['c1'])

In [ ]:
#Can be confused with function calls
print(df.c1)

In [ ]:
#Column names must be known
#df['c5']

In [ ]:
df[['c1','c2']]

In [ ]:
print('assa\nassa')

### Creation and Deletion of Column

In [ ]:
df['c6'] = df['c1'] + df['c2']
print(df)

In [ ]:
df['c7'] = 'hello'
df

In [ ]:
#Returns a new dataframe with dropped column as if giving a view generated from the original df
#Axis =1 means column wise
# by default axis is 0
df2 = df.drop('c6',axis=1)
print(df2)
#print(df)

In [ ]:
#Axis=0 means row wise
df3 = df.drop('r2')
print(df3)

In [ ]:
#Will implicitly allot indexes
rdf = pd.DataFrame(matrix,columns=['c1','c2','c3','c4'])
rdf

In [ ]:
print(rdf.drop(0,axis=0))

In [ ]:
print(rdf.drop([1,2],axis=0))

In [ ]:
#To make changes to original DF
df = pd.DataFrame(matrix, index=['r1','r2','r3','r4'], columns=['c1','c2','c3','c4'])
df.drop('c1', axis=1, inplace=True)
print(df)

In [ ]:
df.drop('r2', axis=0, inplace=True)
print(df)

### Accessing the Data of Dataframe

In [ ]:
df = pd.DataFrame(matrix, index=['r1','r2','r3','r4'], columns=['c1','c2','c3','c4'])

In [ ]:
df['c1']

In [ ]:
df[['c1','c3']]
#This methods access all rows of a col/cols

### 1. loc

In [ ]:
#Used when explicitly defined indexes are used
df = pd.DataFrame(matrix, index=['r1','r2','r3','r4'], columns=['c1','c2','c3','c4'])
df

In [ ]:
print(df.loc['r1'])

In [ ]:
# follows [row,col]
print(df.loc['r1','c3'])

In [ ]:
#slicing is possible
#print(df.loc['r1','c1':'c3'])
print(df.loc['r1','c4':'c3'])

In [ ]:
print(df.loc['r1':'r3','c1':'c3'])
l=[1,2,3,4]

In [ ]:
l[1:3]

In [ ]:
#to get data of specific row/cols
print(df.loc[['r1','r3'],['c1','c3']])

### 2. iloc

In [ ]:
#Used when we know only the position of data
df = pd.DataFrame(matrix, index=['r1','r2','r3','r4'], columns=['c1','c2','c3','c4'])
df1 = pd.DataFrame(matrix, columns=['c1','c2','c3','c4'])
df2 = pd.DataFrame(matrix, index=[1,2,3,4], columns=['c1','c2','c3','c4'])

In [ ]:
print(df)

In [ ]:
print(df1)

In [ ]:
print(df2)

In [ ]:
# index starts from 0
print(df.iloc[2])
print(df1.iloc[2])
print(df2.iloc[2])

In [ ]:
#slicing
print(df.iloc[1:3])
print(df1.iloc[1:3])
print(df2.iloc[1:3])

In [ ]:
print(df1)

In [ ]:
# [row,col]
print(df1.iloc[0:2,1:3])

In [ ]:
print(df)

In [ ]:
print(df.iloc[0:2,1:3])

### difference in the use of loc and iloc

In [ ]:
''' loc includes last element when using a slice ['r1':'r3'] => r1,r2,r3
    whereas iloc does not include last element  [0:3] =>0,1,2 '''

In [ ]:
#interesting thing to keep in mind
print(df1)

In [ ]:
#Indexes can be considered as integer labels
print(df1.loc[0:2])

In [ ]:
#But keep in mind the difference
print(df2)

In [ ]:
print(df2.loc[0:2])

In [ ]:
#Extra 
dfe = pd.DataFrame(matrix, index=[1,0,4,3], columns=['c1','c2','c3','c4'])

In [ ]:
dfe

In [ ]:
#print(dfe.loc[0:3])
#print(dfe.iloc[0:2])

In [ ]:
print(dfe.loc[4:3])

### 3. ix(avoid this)

In [ ]:
'''
Warning: Starting in 0.20.0, the .ix indexer is deprecated, in favor of the more strict .iloc and .loc indexers.

.ix[] supports mixed integer and label based access. It is primarily label based, 
but will fall back to integer positional access unless the corresponding axis is of integer type.

.ix is the most general indexer and will support any of the inputs in .loc and .iloc. 
.ix also supports floating point label schemes. .ix is exceptionally useful when dealing 
with mixed positional and label based hierarchical indexes.

However, when an axis is integer based, ONLY label based access and not positional access is supported. 
Thus, in such cases, itâ€™s usually better to be explicit and use .iloc or .loc.
'''

In [ ]:
df = pd.DataFrame(matrix, index=['r1','r2','r3','r4'], columns=['c1','c2','c3','c4'])
df1 = pd.DataFrame(matrix, columns=['c1','c2','c3','c4'])
df2 = pd.DataFrame(matrix, index=[1,2,3,4], columns=['c1','c2','c3','c4'])
dfe = pd.DataFrame(matrix, index=[1,0,4,3], columns=['c1','c2','c3','c4'])

In [ ]:
print(df)

In [ ]:
print(df.ix['r1':'r3','c1':'c4'])

In [ ]:
print(df.ix[0:3,'c1':'c4'])

In [ ]:
print(df1)

In [ ]:
print(df1.ix[0:4,0:3])

In [ ]:
print(df2)

In [ ]:
print(df2.ix[-1:4])
print(df2.ix[0:3]) #iloc

In [ ]:
print(dfe)

In [ ]:
# indexes are integer but used label based slicing
print(dfe.ix[0:4])
print(dfe.iloc[0:4])

In [ ]:
'''
Since it will be confusing for the developer to know what kind of slicing is used therefore it is avoided 
and loc or iloc are used as per the need.
'''

## Missing Data

In [ ]:
df = pd.DataFrame({'c1':[1,2,np.nan,3],'c2':[np.nan,np.nan,np.nan,10],'c3':[12,23,34,45]})
df

In [ ]:
#True/False table for each value
df.isna()

In [ ]:
#Shows column wise which columns have nan values(even 1 value is enough)
df.isna().any()

In [ ]:
#4th row remains
df.dropna()

In [ ]:
#axis=0 is row, axis=1 is column
df.dropna(axis=1)

In [ ]:
# rows with 2 or more NaN will be dropped
df.dropna(thresh=2)

## To deal with missing data

In [ ]:
df

In [ ]:
df.fillna(value=10)

In [ ]:
# axis=0 is col and axis=1 is row
df.mean(axis=1)

In [ ]:
df.fillna(value=df.mean(axis=0))

In [ ]:
df.min(axis=1)

In [ ]:
df.std()

In [ ]:
df.max()

In [ ]:
df.count()

In [ ]:
df.describe()

In [ ]:
df.describe().transpose()

## Comparisons, Where clause, Querying, Group by

In [ ]:
print(df1)

In [ ]:
#returns true false df
df1>5

In [ ]:
df1[df1>5]
#use  .fillna(value=5)

In [ ]:
df1[df1<5]=0
df1

In [ ]:
df1['c1']>5

In [ ]:
df1[df1['c1']>5]

In [ ]:
df1[df1['c1']>5]['c1']

In [ ]:
df1[df1['c1']>5][['c1','c3']]
print(df1)

In [ ]:
df1[(df1['c1']>5) & (df1['c3']>1)]

In [ ]:
dfnew = df1[df1['c1']>5]
print(dfnew)

In [ ]:
#dfnew = dfnew.reset_index()
dfnew.reset_index(inplace=True)
print(dfnew)

In [ ]:
print('a b'.split())
dfnew['new'] = 'a b'.split()

In [ ]:
dfnew.set_index('new',inplace=True)

In [ ]:
print(dfnew)

In [ ]:
dfnew.iloc[0]

### Where and Mask

In [ ]:
#Where(Replace values where the condition is False.)
'''
The where method is an application of the if-then idiom. 
For each element in the calling DataFrame, if cond is True the element is used; 
otherwise the corresponding element from the DataFrame other is used.
'''
#Mask(Replace values where the condition is True.)
'''
The mask method is an application of the if-then idiom. 
For each element in the calling DataFrame, if cond is False the element is used; 
otherwise the corresponding element from the DataFrame other is used.
'''

In [ ]:
s = pd.Series(range(5))
s.where(s > 0)

In [ ]:
s.mask(s > 0)

In [ ]:
df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
print(df)

In [ ]:
#created a condition
m = df % 3 == 0
print(m)

In [ ]:
df.where(m, -df)
df.mask(m, -df)

In [ ]:
#where is present for numpy as well
print(np.where(m, df, -df))
print(df.where(m, -df))
#df.where(m, -df) == np.where(m, df, -df)

In [ ]:
#achieving same as by tweaking parameters
print(df.where(m, -df)) 
print(df.mask(~m, -df))

### Query

In [ ]:
#Query the columns of a DataFrame with a boolean expression.
df = pd.DataFrame(np.random.randn(10, 2), columns=list('ab'))
#df.query('a > b')
df

In [ ]:
df.query('a > b')

In [ ]:
df[df['a'] > df['b']]  # same result as the previous expression

In [ ]:
example_df = pd.DataFrame(matrix,index=[1, 5, 6, 7], columns=["A", "B", "C","D"])
print(example_df)

In [ ]:
example_df.query("index > A and index==B")

In [ ]:
l = [['Shailesh',76,64,97],['Shashi',56,59,95],['Arun',89,90,99],['Rajni',78 ,79,100]]
empDF = pd.DataFrame(l,columns=['Names' ,'Rating_1' ,'Rating_2' ,'Rating_3'])
print(empDF)

In [ ]:
empDF.query("Rating_1 < Rating_2 and Rating_2 < Rating_3")

In [ ]:
empDF.query("Rating_1 < Rating_2 < Rating_3")

In [ ]:
empDF.query("Rating_3 in [98, 99, 100]")

### Groupby

In [ ]:
l = [['BLR','Shailesh',766],['PUN','Shashi',567],['MYS','Arun',898],['MUM','Rajni',789],['MUM','Rani',555]]
salesdf = pd.DataFrame(l,columns=['Location','Names' ,'Sales'])
print(salesdf)

In [ ]:
sdg = salesdf.groupby('Location')
sdg

In [ ]:
#Only numerical column
sdg.mean()

In [ ]:
#All columns
sdg.max()

In [ ]:
#All columns
sdg.min()

In [ ]:
sdg.count()

In [ ]:
sdg.describe()

## Concatenation, Append, Merge, Join

### Concat

In [ ]:
l1 = [['A1','B1','C1'],['A2','B2','C2']]
l2 = [['A3','B3','C3'],['A4','B4','C4']]
l3 = [['A5','B5','C5'],['A6','B6','C6']]
df1 = pd.DataFrame(l1,columns=['A','B','C'])
df2 = pd.DataFrame(l2,columns=['A','B','C'])
df3 = pd.DataFrame(l3,columns=['A','B','C'])

In [ ]:
print(df1)
print(df2)
print(df3)

In [ ]:
dftot = pd.concat([df1,df2,df3]) # Union in sql
dftot.reset_index()

In [ ]:
pd.concat([df1,df2,df3],axis=1)['A']

### Append

In [ ]:
df1.append(df2, ignore_index=True)

In [ ]:
'''
Concat gives the flexibility to join based on the axis( all rows or all columns)
Append is the specific case(axis=0, join='outer') of concat 
'''

### Merge

In [ ]:
# default is inner join
dftot = pd.merge(df1,df2,how='outer',on=['A','A'])
 #, suffixes=('_l', '_r')
dftot

In [ ]:
pd.merge(df1,df2,how='outer',on=['A'])

In [ ]:
pd.merge(df1,df2,how='outer',on=['A','B'])
# same
#df1.merge(df2,how='outer',on=['A','B'])

In [ ]:
pd.merge(df1,df2,how='outer')

### Join

In [ ]:
#default is left join
df1.join(df2,lsuffix='_l', rsuffix='_r')

In [ ]:
df2.join(df1,lsuffix='_l', rsuffix='_r')

In [ ]:
df1.join(df2,lsuffix='_l', rsuffix='_r',how='inner')
df1.join(df2,lsuffix='_l', rsuffix='_r',how='outer')

In [ ]:
'''
Join is based on the indexes (set by set_index) on how variable =['left','right','inner','outer']
Merge is based on any particular column each of the two dataframes, this columns are variables on like 'left_on', 
'right_on', 'on'
'''
#left.merge(right, left_index=True, right_index=True, suffixes=['_', ''])

In [ ]:
'''A join occurs on an index.
Merge occurs on a column, or multiple columns.
'''

In [ ]:
df1.merge(df2,left_index=True, right_index=True, suffixes=['_', ''])

In [ ]:
#https://riptutorial.com/pandas/example/23978/what-is-the-difference-between-join-and-merge